In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("laptop_data_new.csv")
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [4]:
df.shape

(1273, 13)

In [5]:
df.isnull().sum()

Company        0
TypeName       0
Ram            0
Weight         0
Price          0
TouchScreen    0
Ips            0
Ppi            0
Cpu_brand      0
HDD            0
SSD            0
Gpu_brand      0
Os             0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1273 non-null   object
 1   TypeName     1273 non-null   object
 2   Ram          1273 non-null   int64
 3   Weight       1273 non-null   float64
 4   Price        1273 non-null   float64
 5   TouchScreen  1273 non-null   int64
 6   Ips          1273 non-null   int64
 7   Ppi          1273 non-null   float64
 8   Cpu_brand    1273 non-null   object
 9   HDD          1273 non-null   int64
 10  SSD          1273 non-null   int64
 11  Gpu_brand    1273 non-null   object
 12  Os           1273 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 129.4+ KB

In [7]:
df['Company'].value_counts()

Company
Dell         291
Lenovo       289
HP           268
Asus         151
Acer         101
MSI           54
Toshiba       48
Apple         21
Samsung        8
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [8]:
def add_company(inpt):
    if inpt == 'Samsung' or inpt == 'Razer' or inpt == 'Mediacom' or inpt == 'Microsoft'or inpt == 'Xiaomi'or inpt == 'Vero'or inpt == 'Chuwi'or inpt == 'Google'or inpt == 'Fujitsu'or inpt == 'LG'or inpt == 'Huawei':
        return 'Other'
    else:
        return inpt

In [9]:
df['Company'] = df['Company'].apply(add_company)

In [10]:
df['Company'].value_counts()

Company
Dell       291
Lenovo     289
HP         268
Asus       151
Acer       101
MSI         54
Other       50
Toshiba     48
Apple       21
Name: count, dtype: int64

In [11]:
df['TypeName'].value_counts()

TypeName
Notebook              706
Gaming                205
Ultrabook             194
2 in 1 Convertible    116
Workstation            29
Netbook                23
Name: count, dtype: int64

In [12]:
df['Cpu_brand'].value_counts()

Cpu_brand
Intel Core i7            515
Intel Core i5            423
Other Intel Processor    141
Intel Core i3            134
AMD Processor             60
Name: count, dtype: int64

In [13]:
df['Gpu_brand'].value_counts()

Gpu_brand
Intel     703
Nvidia    396
AMD       174
Name: count, dtype: int64

In [14]:
df['Os'].value_counts()

Os
Windows    1100
Others      152
Mac          21
Name: count, dtype: int64

In [15]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

In [16]:
df.shape

(1273, 13)

In [17]:
len(df['Ram'].value_counts())

9

In [18]:
df['Ram'].value_counts()

Ram
8     613
4     365
16    198
6      35
12     25
32     17
2      16
24      3
64      1
Name: count, dtype: int64

In [19]:
df = df[df['Ram'] != 64]

In [20]:
df['Ram'].value_counts()

Ram
8     613
4     365
16    198
6      35
12     25
32     17
2      16
24      3
Name: count, dtype: int64

In [21]:
df['HDD'].value_counts()

HDD
0       713
1000    400
500     125
2000     32
32        1
128       1
Name: count, dtype: int64

In [22]:
df = df[df['HDD'] != 32]

In [23]:
df['HDD'].value_counts()

HDD
0       713
1000    400
500     125
2000     32
128       1
Name: count, dtype: int64

In [24]:
df = df[df['HDD'] != 128]

In [25]:
df['HDD'].value_counts()

HDD
0       713
1000    400
500     125
2000     32
Name: count, dtype: int64

In [26]:
df['SSD'].value_counts()

SSD
256     498
0       434
128     170
512     134
1000     15
32        6
180       5
16        3
64        1
1024      1
768       1
240       1
8         1
Name: count, dtype: int64

In [27]:
df = df[df['SSD'] != 64]

In [28]:
df['SSD'].value_counts()

SSD
256     498
0       434
128     170
512     134
1000     15
32        6
180       5
16        3
1024      1
768       1
240       1
8         1
Name: count, dtype: int64

In [29]:
df = df.query('SSD != 1024 and SSD != 768 and SSD != 240 and SSD != 8 and SSD != 16')

In [30]:
df['SSD'].value_counts()

SSD
256     498
0       434
128     170
512     134
1000     15
32        6
180       5
Name: count, dtype: int64

In [31]:
df.shape

(1262, 13)

In [32]:
df.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,512,AMD,Mac
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,256,Intel,Mac

# One-Hot Encoding

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1262 entries, 0 to 1272
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1262 non-null   object
 1   TypeName     1262 non-null   object
 2   Ram          1262 non-null   int64
 3   Weight       1262 non-null   float64
 4   Price        1262 non-null   float64
 5   TouchScreen  1262 non-null   int64
 6   Ips          1262 non-null   int64
 7   Ppi          1262 non-null   float64
 8   Cpu_brand    1262 non-null   object
 9   HDD          1262 non-null   int64
 10  SSD          1262 non-null   int64
 11  Gpu_brand    1262 non-null   object
 12  Os           1262 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 138.0+ KB

In [34]:
dummies = pd.get_dummies(df.Company)

dummies_numeric = dummies.astype(int)
dummies_numeric.head(3)

   Acer  Apple  Asus  Dell  HP  Lenovo  MSI  Other  Toshiba
0     0      1     0     0   0       0    0      0        0
1     0      1     0     0   0       0    0      0        0
2     0      0     0     0   1       0    0      0        0

In [35]:
df2 = pd.concat([df, dummies_numeric.drop('Toshiba',axis='columns')],axis='columns')
df2.head()

,Company,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,...,Gpu_brand,Os,Acer,Apple,Asus,Dell,HP,Lenovo,MSI,Other
0,Apple,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,...,Intel,Mac,0,1,0,0,0,0,0,0
1,Apple,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,...,Intel,Mac,0,1,0,0,0,0,0,0
2,HP,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,...,Intel,Others,0,0,0,0,1,0,0,0
3,Apple,Ultrabook,16,1.83,11.814476,0,1,220.534624,Intel Core i7,0,...,AMD,Mac,0,1,0,0,0,0,0,0
4,Apple,Ultrabook,8,1.37,11.473101,0,1,226.983005,Intel Core i5,0,...,Intel,Mac,0,1,0,0,0,0,0,0

In [36]:
df3 = df2.drop('Company',axis='columns')
df3.head(3)

,TypeName,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,Os,Acer,Apple,Asus,Dell,HP,Lenovo,MSI,Other
0,Ultrabook,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,Mac,0,1,0,0,0,0,0,0
1,Ultrabook,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,Mac,0,1,0,0,0,0,0,0
2,Notebook,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,Others,0,0,0,0,1,0,0,0

In [37]:
dummies = pd.get_dummies(df3.TypeName)

dummies_numeric = dummies.astype(int)

df4 = pd.concat([df3, dummies_numeric.drop('Workstation',axis='columns')],axis='columns')

df5 = df4.drop('TypeName',axis='columns')
df5.head(3)

,Ram,Weight,Price,TouchScreen,Ips,Ppi,Cpu_brand,HDD,SSD,Gpu_brand,...,Dell,HP,Lenovo,MSI,Other,2 in 1 Convertible,Gaming,Netbook,Notebook,Ultrabook
0,8,1.37,11.175755,0,1,226.983005,Intel Core i5,0,128,Intel,...,0,0,0,0,0,0,0,0,0,1
1,8,1.34,10.776777,0,0,127.677940,Intel Core i5,0,0,Intel,...,0,0,0,0,0,0,0,0,0,1
2,8,1.86,10.329931,0,0,141.211998,Intel Core i5,0,256,Intel,...,0,1,0,0,0,0,0,0,1,0

In [38]:
dummies = pd.get_dummies(df5.Cpu_brand)

dummies_numeric = dummies.astype(int)
dummies_numeric.head(3)

,AMD Processor,Intel Core i3,Intel Core i5,Intel Core i7,Other Intel Processor
0,0,0,1,0,0
1,0,0,1,0,0
2,0,0,1,0,0

In [39]:
df6 = pd.concat([df5, dummies_numeric.drop('Other Intel Processor',axis='columns')],axis='columns')

df7 = df6.drop('Cpu_brand',axis='columns')
df7.head(3)

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Gpu_brand,Os,...,Other,2 in 1 Convertible,Gaming,Netbook,Notebook,Ultrabook,AMD Processor,Intel Core i3,Intel Core i5,Intel Core i7
0,8,1.37,11.175755,0,1,226.983005,0,128,Intel,Mac,...,0,0,0,0,0,1,0,0,1,0
1,8,1.34,10.776777,0,0,127.677940,0,0,Intel,Mac,...,0,0,0,0,0,1,0,0,1,0
2,8,1.86,10.329931,0,0,141.211998,0,256,Intel,Others,...,0,0,0,0,1,0,0,0,1,0

In [40]:
dummies = pd.get_dummies(df7.Gpu_brand)

dummies_numeric = dummies.astype(int)
dummies_numeric.head(3)

   AMD  Intel  Nvidia
0    0      1       0
1    0      1       0
2    0      1       0

In [41]:
df8 = pd.concat([df7, dummies_numeric.drop('Nvidia',axis='columns')],axis='columns')

df9 = df8.drop('Gpu_brand',axis='columns')
df9.head(3)

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Os,Acer,...,Gaming,Netbook,Notebook,Ultrabook,AMD Processor,Intel Core i3,Intel Core i5,Intel Core i7,AMD,Intel
0,8,1.37,11.175755,0,1,226.983005,0,128,Mac,0,...,0,0,0,1,0,0,1,0,0,1
1,8,1.34,10.776777,0,0,127.677940,0,0,Mac,0,...,0,0,0,1,0,0,1,0,0,1
2,8,1.86,10.329931,0,0,141.211998,0,256,Others,0,...,0,0,1,0,0,0,1,0,0,1

In [42]:
dummies = pd.get_dummies(df9.Os)

dummies_numeric = dummies.astype(int)
dummies_numeric.head(3)

   Mac  Others  Windows
0    1       0        0
1    1       0        0
2    0       1        0

In [43]:
df10 = pd.concat([df9, dummies_numeric.drop('Others',axis='columns')],axis='columns')

df11 = df10.drop('Os',axis='columns')
df11.head(3)

,Ram,Weight,Price,TouchScreen,Ips,Ppi,HDD,SSD,Acer,Apple,...,Notebook,Ultrabook,AMD Processor,Intel Core i3,Intel Core i5,Intel Core i7,AMD,Intel,Mac,Windows
0,8,1.37,11.175755,0,1,226.983005,0,128,0,1,...,0,1,0,0,1,0,0,1,1,0
1,8,1.34,10.776777,0,0,127.677940,0,0,0,1,...,0,1,0,0,1,0,0,1,1,0
2,8,1.86,10.329931,0,0,141.211998,0,256,0,0,...,1,0,0,0,1,0,0,1,0,0

In [44]:
df11.shape

(1262, 29)

In [45]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1262 entries, 0 to 1272
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ram                 1262 non-null   int64
 1   Weight              1262 non-null   float64
 2   Price               1262 non-null   float64
 3   TouchScreen         1262 non-null   int64
 4   Ips                 1262 non-null   int64
 5   Ppi                 1262 non-null   float64
 6   HDD                 1262 non-null   int64
 7   SSD                 1262 non-null   int64
 8   Acer                1262 non-null   int32
 9   Apple               1262 non-null   int32
 10  Asus                1262 non-null   int32
 11  Dell                1262 non-null   int32
 12  HP                  1262 non-null   int32
 13  Lenovo              1262 non-null   int32
 14  MSI                 1262 non-null   int32
 15  Other               1262 non-null   int32
 16  2 in 1 Convertible  1262 non-null   int32
 17  Gaming              1262 non-null   int32
 18  Netbook             1262 non-null   int32
 19  Notebook            1262 non-null   int32
 20  Ultrabook           1262 non-null   int32
 21  AMD Processor       1262 non-null   int32
 22  Intel Core i3       1262 non-null   int32
 23  Intel Core i5       1262 non-null   int32
 24  Intel Core i7       1262 non-null   int32
 25  AMD                 1262 non-null   int32
 26  Intel               1262 non-null   int32
 27  Mac                 1262 non-null   int32
 28  Windows             1262 non-null   int32
dtypes: float64(3), int32(21), int64(5)
memory usage: 192.3 KB

# Model Building and Selection

In [46]:
df11.shape

(1262, 29)

In [47]:
X = df11.drop(['Price'],axis='columns')
X.head(3)

,Ram,Weight,TouchScreen,Ips,Ppi,HDD,SSD,Acer,Apple,Asus,...,Notebook,Ultrabook,AMD Processor,Intel Core i3,Intel Core i5,Intel Core i7,AMD,Intel,Mac,Windows
0,8,1.37,0,1,226.983005,0,128,0,1,0,...,0,1,0,0,1,0,0,1,1,0
1,8,1.34,0,0,127.677940,0,0,0,1,0,...,0,1,0,0,1,0,0,1,1,0
2,8,1.86,0,0,141.211998,0,256,0,0,0,...,1,0,0,0,1,0,0,1,0,0

In [48]:
X.shape

(1262, 28)

In [49]:
y = df11.Price
y.head(3)

0    11.175755
1    10.776777
2    10.329931
Name: Price, dtype: float64

In [50]:
len(y)

1262

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [52]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8046367975590102

In [53]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.81119757, 0.81332627, 0.8392213 , 0.82049549, 0.81137618])

In [54]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'fit_intercept': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        },
        'random_forest': {
            'model': RandomForestRegressor(),
            'params' : {
                'n_estimators': [10, 50, 100],
                'criterion':['squared_error','absolute_error','poisson']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.76687957 0.74850833]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.819123,{'fit_intercept': True}
1,lasso,0.511217,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision_tree,0.766880,"{'criterion': 'friedman_mse', 'splitter': 'best'}"
3,random_forest,0.861906,"{'criterion': 'absolute_error', 'n_estimators'..."

In [57]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor(criterion = 'absolute_error', n_estimators = 50)
rf_clf.fit(X_train,y_train)
rf_clf.score(X_test,y_test)

0.8705410831709802

In [58]:
X_test.columns

Index(['Ram', 'Weight', 'TouchScreen', 'Ips', 'Ppi', 'HDD', 'SSD', 'Acer',
       'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Other',
       '2 in 1 Convertible', 'Gaming', 'Netbook', 'Notebook', 'Ultrabook',
       'AMD Processor', 'Intel Core i3', 'Intel Core i5', 'Intel Core i7',
       'AMD', 'Intel', 'Mac', 'Windows'],
      dtype='object')

In [59]:
X_train.columns

Index(['Ram', 'Weight', 'TouchScreen', 'Ips', 'Ppi', 'HDD', 'SSD', 'Acer',
       'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Other',
       '2 in 1 Convertible', 'Gaming', 'Netbook', 'Notebook', 'Ultrabook',
       'AMD Processor', 'Intel Core i3', 'Intel Core i5', 'Intel Core i7',
       'AMD', 'Intel', 'Mac', 'Windows'],
      dtype='object')

In [63]:
pred_value = rf_clf.predict([[8, 1.3, 1, 1, 226, 0, 128, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0]])
pred_value

C:\Users\Kavinda Madushan\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([11.10486199])

# Save model

In [61]:
import pickle
with open('laptop_prices_model.pickle','wb') as f:
    pickle.dump(rf_clf,f)

In [62]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))